{% INCLUDE 'overall_header.html' %}
<h1>{{ lang('RECENT_TOPICS') }}</h1>
<p>{{ lang('RECENT_TOPICS_EXPLAIN') }}</p>
<form id="acp_board" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('RT_GLOBAL_SETTINGS') }}</legend>
		<dl>
			<dt><label for="rt_enable">{{ lang('INDEX') }}</label><br /><span>{{ lang('RT_DISPLAY_INDEX') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="rt_enable" value="1" id="rt_enable"{% if RT_INDEX %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="rt_enable" value="0" {% if not RT_INDEX %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt>
				<label>{{ lang('RT_PAGE_NUMBER') }}{{ lang('COLON') }}</label><br/><span>{{ lang('RT_PAGE_NUMBER_EXP') }}</span>
			</dt>
			<dd><input type="checkbox" class="checkbox" name="rt_page_number" id="rt_page_number" {{ RT_PAGE_NUMBER }}  />
			</dd>
		</dl>
		<dl>
			<dt><label for="rt_page_numbermax">{{ lang('RT_PAGE_NUMBERMAX') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_PAGE_NUMBERMAX_EXP') }}</span></dt>
			<dd><input type="number" id="rt_page_numbermax" name="rt_page_numbermax" size="3" min="1" max="999" value="{{ RT_PAGE_NUMBERMAX }}" /></dd>
		</dl>

		<dl>
			<dt><label for="rt_min_topic_level">{{ lang('RT_MIN_TOPIC_LEVEL') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_MIN_TOPIC_LEVEL_EXP') }}</span></dt>
			<dd>
				<select name="rt_min_topic_level" class="input" id="rt_min_topic_level">
					{% for topiclevel_row in loops.topiclevel_row %}
					<option value="{{ topiclevel_row.VALUE }}"{{ topiclevel_row.SELECTED }}>{{ topiclevel_row.OPTION }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>

		<dl>
			<dt><label for="rt_anti_topics">{{ lang('RT_ANTI_TOPICS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_ANTI_TOPICS_EXP') }}</span></dt>
			<dd><input type="text" id="rt_anti_topics" name="rt_anti_topics" size="30" value="{{ RT_ANTI_TOPICS }}" /></dd>
		</dl>
		<dl>
			<dt><label for="rt_parents">{{ lang('RT_PARENTS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_PARENTS_EXP') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="rt_parents" value="1" id="rt_parents"{% if RT_PARENTS %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="rt_parents" value="0"{% if not RT_PARENTS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('RT_OVERRIDABLE') }}</legend>
		<dl>
			<dt><label for="rt_location">{{ lang('RT_LOCATION') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_LOCATION_EXP') }}</span></dt>
			<dd>
				<select name="rt_location" class="input" id="rt_location">
					{% for location_row in loops.location_row %}
					<option value="{{ location_row.VALUE }}"{{ location_row.SELECTED }}>{{ location_row.OPTION }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>

		<dl>
			<dt><label for="rt_number">{{ lang('RT_NUMBER') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_NUMBER_EXP') }}</span></dt>
			<dd><input type="number" id="rt_number" name="rt_number" size="3" min="0" max="999" value="{{ RT_NUMBER }}" /></dd>
		</dl>

		<dl>
			<dt><label for="rt_sort_start_time">{{ lang('RT_SORT_START_TIME') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_SORT_START_TIME_EXP') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="rt_sort_start_time" value="1" id="rt_sort_start_time"{% if RT_SORT_START_TIME %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="rt_sort_start_time" value="0"{% if not RT_SORT_START_TIME %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="rt_unread_only">{{ lang('RT_UNREAD_ONLY') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_UNREAD_ONLY_EXP') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" name="rt_unread_only" value="1" id="rt_unread_only"{% if RT_UNREAD_ONLY %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="rt_unread_only" value="0"{% if not RT_UNREAD_ONLY %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>

		<dl>
			<dt><label>{{ lang('RT_RESET_DEFAULT') }}</label><br /><span>{{ lang('RT_RESET_DEFAULT_EXP') }}</span></dt>
			<dd>
				<input class="button1" type="submit" id="rt_reset_default" name="rt_reset_default" value="{{ lang('RT_RESET_DEFAULT') }}"  />
			</dd>
		</dl>

	</fieldset>


	{% if S_RT_NEWSPAGE %}
	<fieldset>
		<legend>{{ lang('RT_VIEW_ON') }}</legend>
		<dl>
			<dt><label for="rt_on_newspage">{{ lang('RT_NICKVERGESSEN_NEWSPAGE') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="rt_on_newspage" value="1" id="rt_on_newspage"{% if RT_ON_NEWSPAGE %} checked="checked"{% endif %}/> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="rt_on_newspage" value="0" {% if not RT_ON_NEWSPAGE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>

	<fieldset>
		<legend>{{ lang('RT_VERSION_CHECK') }}</legend>
		<dl>
			<dt><label>{{ lang('RT_EXT_VERSION') }}</label></dt>
			<dd>
				<strong class="{% if S_RT_OK %}success{% elseif S_RT_OLD %}error{% else %}syntaxcomment{% endif %}">{{ EXT_VERSION }}</strong>
				{% if not S_RT_OK %}({{ lang('RT_LATEST_VERSION') }}{{ lang('COLON') }} {{ RT_LATESTVERSION }}){% endif %}
			</dd>
		</dl>
		{% if not S_RT_OK %}
		<dl>
			<dt><p><small>{{ lang('RT_CHECK_UPDATE') }}</small></p></dt>
			<dd>{% if not RT_LATESTVERSION %}<strong class="error">{{ lang('VERSIONCHECK_FAIL') }}</strong>{% endif %}
				<a href="{{ U_VERSIONCHECK_FORCE }}">{{ lang('VERSIONCHECK_FORCE_UPDATE') }}</a></dd>
		</dl>
		{% endif %}
	</fieldset>

	<fieldset>
		<legend>{{ lang('RT_DONATE') }}</legend>
		<dl>
			<dt><label>{{ lang('RT_DONATE_SHORT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RT_DONATE_EXPLAIN') }}</span></dt>
			<dd><a href="{{ lang('RT_DONATE_URL') }}" target="_blank"><img src="{{ lang('PAYPAL_IMAGE_URL') }}" border="0" alt="{{ lang('PAYPAL_ALT') }}" style="cursor:pointer"></a></dd>
		</dl>
	</fieldset>


</form>
{% INCLUDE 'overall_footer.html' %}
