<dl>
	<dt><label for="forum_recent_topics">{{ lang('RECENT_TOPICS_LIST') }}{{ lang('COLON') }}</label><br /><span>{{ lang('RECENT_TOPICS_LIST_EXPLAIN') }}</span></dt>
	<dd>
		<label><input type="radio" class="radio" name="forum_recent_topics" value="1" id="forum_recent_topics"{% if RECENT_TOPICS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
		<label><input type="radio" class="radio" name="forum_recent_topics" value="0"{% if not RECENT_TOPICS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
	</dd>
</dl>
