<div id="sidebar">
    <div class="panel">
        <div class="inner" id="recent-topics">
            <div>
                <!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}"><!-- ENDIF -->
                    Recent Topics
                <!-- IF S_LOAD_UNREADS --></a><!-- ENDIF -->
            </div>
            <hr>
            <ul>
            <!-- BEGIN recent_topics -->
            <li>
                <!-- IF recent_topics.S_UNREAD_TOPIC and not S_IS_BOT --><a href="{recent_topics.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF -->
                <a href="{recent_topics.U_NEWEST_POST}" class="topictitle">{recent_topics.TOPIC_TITLE}</a>
                by {recent_topics.LAST_POST_AUTHOR_FULL}
            </li>
            <!-- BEGINELSE -->
            <p><strong>{L_NO_TOPICS}</strong></p>
            <!-- END recent_topics -->
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            <div id="search-box" class="search-box">
                <form action="./search.php" method="get" id="search">
                    <fieldset>
                        <input name="keywords" id="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…">
                        <button class="button icon-button search-icon" type="submit" title="Search">Search</button>
                        <a href="./search.php" class="button icon-button search-adv-icon" title="Advanced search">Advanced search</a>
                    </fieldset>
                </form>
            </div>
            <br />
            <br />
            <hr>
            <p><a href="https://ysflight.org/">What is YSFlight?</a><br />
            <a href="https://ysflight.org/download/">Download YSFlight</a><br />
            <a href="http://supportysflight.en.ysflight.com/">Support YSFlight.com</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=3943">General YS FAQ</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=137&t=4790">YSFlight Wishlist</a></p>

            <p><strong>Multiplayer</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=7574">Joining A Server</a><br />
            <a href="https://forum.ysfhq.com/app.php/page/serverlist" style="color: #F00">Online Servers</a><br />
            <!-- &#8595; [clicking the arrow will show the online servers widget]<br />-->
            <a href="https://forum.ysfhq.com/viewtopic.php?f=24&t=74">Combat Standards</a></p>

            <p><strong>Game Add-ons</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=6256">Installing</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=2891">Add-on Links</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=7577">Searching for Add-ons</a></p>

            <p><strong>Add-on Creation</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?t=76&start=999999999">Current Projects</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=147&t=5096">Decaff's Video Tutorials</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=147&t=3382">Aircraft Modding school</a></p>

            <p><strong>Piloting Skills</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=3939">Offline Activities</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=139&t=3779">Combat Guide</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=141&t=3781">Aerobatic Guide</a></p>

            <p><strong>HQ Civilian Squads</strong><br />
            <a href="http://penguinairwaysva.netai.net/">Penguin Airways VA</a><br />
            <a href="http://abeljetsgroup.weebly.com/">Abel Jets VA</a><br />
            <a href="https://sites.google.com/site/fastairwaysfa/">Fast Airways VA</a><br />
            <a href="https://sites.google.com/site/natcomair/">NatComAir YS VA</a></p>

            <p><strong>HQ Fighter Squad</strong><br />
            See <a href="https://forum.ysfhq.com/viewforum.php?f=157">Squadron HQ</a> (list coming soon)</p>

            <p><strong>Related YS Sites</strong><br />
            <a href="https://sites.google.com/site/ysdecaff/home">Decaff's YSFlight Website</a><br />
            <a href="http://www.ysflight.ca/">Taskforce58's Hangar</a><br />
            <a href="http://free-kr.t-com.hr/owl/index2.html">Owl's YSFlight</a><br />
            <a href="http://ysflight.googlepages.com/">Luckybeargod's YSFlight</a><br />
            <a href="https://sites.google.com/site/yspmnv/">PMNV Creations</a></p>

            <p><strong>Other YS Communities</strong><br />
            Forums of different languages, coming soon</p>

            <p><strong>Site Info</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=167&t=6071">Site/Forum Rules</a><br />
            <a href="https://forum.ysfhq.com/memberlist.php?mode=team">Site Contacts</a></p>
        </div>
    </div>
    <div class="panel">
        <div class="inner" style="text-align: center;">
            <div id="firstclass">
                <h4>Become a <a href="https://forum.ysfhq.com/viewtopic.php?f=167&amp;t=8039&amp;p=90656#p90656" target="_blank">YSFHQ First Class</a> Member!</h4>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="KKV6XBRD4APH8">
                    <table>
                        <tbody><tr><td><input type="hidden" name="on0" value="Subscription type">Subscription type</td></tr><tr><td><select name="os0" style="width: 100%; word-wrap: normal;">
                            <option value="First Class Monthly">First Class Monthly : $4.50 USD - monthly</option>
                            <option value="First Class 1-Yr">First Class 1-Yr : $45.00 USD - yearly</option>
                            <option value="Business Class Monthly">Business Class Monthly : $2.50 USD - monthly</option>
                            <option value="Business Class 1-Yr">Business Class 1-Yr : $25.00 USD - yearly</option>
                        </select> </td></tr>
                        <tr><td><input type="hidden" name="on1" value="YSFHQ Username">YSFHQ Username</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                    </tbody></table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <br>
            <a href="https://www.tsviewer.com/index.php?page=ts_viewer&amp;ID=1076944" target="_blank">
                <img src="https://www.tsviewer.com/promotion/dynamic_sig/sig.php/clan160x283_fs/1076944.png" alt="YSFlight Headquarters TeamSpeak Viewer" title="YSFlight Headquarters TeamSpeak Viewer" border="0">
            </a>
        </div>
    </div>
</div>
