<div id="sidebar">
    <div class="panel">
        <div class="inner recent-topics">
            <div>
                <!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}"><!-- ENDIF -->
                    Recent Topics
                <!-- IF S_LOAD_UNREADS --></a><!-- ENDIF -->
            </div>
            <hr>
            <ul>
            <!-- BEGIN recent_topics -->
            <li>
                <!-- IF recent_topics.S_UNREAD_TOPIC and not S_IS_BOT -->
                <a class="unread topictitle" href="{recent_topics.U_NEWEST_POST}" title="{recent_topics.TOPIC_FOLDER_IMG_ALT}">
                    <i class="icon fa-file fa-fw icon-red icon-md" aria-hidden="true"></i><span class="sr-only">{NEW_POST}</span>{recent_topics.TOPIC_TITLE}
                </a>
                <!-- ELSE -->
                <a class="topictitle" href="{recent_topics.U_LAST_POST}" title="{L_VIEW_LATEST_POST}">
                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{L_VIEW_LATEST_POST}</span>{recent_topics.TOPIC_TITLE}
                </a>
                <!-- ENDIF -->
                by {recent_topics.LAST_POST_AUTHOR_FULL}
            </li>
            <!-- BEGINELSE -->
            <p><strong>{L_NO_TOPICS}</strong></p>
            <!-- END recent_topics -->
            </ul>
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            <div id="google_translate_element"></div>
            <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-29461770-6'}, 'google_translate_element');
            }
            </script>
            <script async src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <div class="search-box">
              <form action="{U_SEARCH}" method="get">
                <fieldset>
                  <input name="keywords" type="search" maxlength="128" title="Search for keywords" class="inputbox search tiny" size="20" value="" placeholder="Search…">
                  <button class="button button-search" type="submit" title="Search">
                    <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">Search</span>
                  </button>
                  <a href="./search.php" class="button button-search-end" title="Advanced search">
                    <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">Advanced search</span>
                  </a>
                </fieldset>
              </form>
            </div>
            <p><a href="https://ysflight.org/">What is YSFlight?</a><br />
            <a href="https://ysflight.org/download/">Download YSFlight</a><br />
            <a href="http://supportysflight.en.ysflight.com/">Support YSFlight.com</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=3943">General YS FAQ</a><br />
            <a href="https://ysflightsim.wikia.com/">YSFlight Wiki</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=137&t=4790">YSFlight Wishlist</a></p>

            <p><strong>Multiplayer</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=7574">Joining A Server</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=24&t=74">Combat Standards</a></p>

            <div id="serverlist">
              <h3><a href="https://forum.ysfhq.com/app.php/page/serverlist" style="color: #F00">Online Servers</a></h3>
              <ul></ul>
              <script>
              document.addEventListener("DOMContentLoaded", function(event) {
              $.getJSON("https://ysflight.org/serverlist/?json=1", function (data) {
                $.each(data.servers, function (k, server) {
                  if (server.status=="Online") {
                    $('#serverlist ul').append(
                      '<li><a href="ysflight://'+server.ip+'">'
                      +server.name+'</a> (<span title="Players flying">'
                      +server.game.players.flying+'</span>/<span title="Total players">'+server.game.players.total+'</span>)'
                      +' <a href="https://ysflight.org/serverlist/server/'+server.id+'" target="_blank">&#8505;</a></li>'
                    );
                  }
                });
              });
              });
              </script>
            </div>

            <p><strong>Game Add-ons</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=6256">Installing</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=2891">Add-on Links</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=7577">Searching for Add-ons</a></p>

            <p><strong>Add-on Creation</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?t=76&start=999999999">Current Projects</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=147&t=5096">Decaff's Video Tutorials</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=147&t=3382">Aircraft Modding school</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=147&t=8172#p92286">YSFlight Handbook</a><br />
            <a href="https://github.com/ysflight-opensource">Open-Source Tools for YSFlight</a></p>

            <p><strong>Piloting Skills</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=284&t=3939">Offline Activities</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=139&t=3779">Combat Guide</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=141&t=3781">Aerobatic Guide</a></p>

            <p><strong>HQ Civilian Squads</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=140&t=8848">Mahou Air VA</a><br />
            <a href="http://abeljetsgroup.weebly.com/our-aerobatic-team.html">Orange Skies Aerobatics</a><br />
            <a href="http://chrisiscl.wix.com/real-vnaf">VNAF Aerobatics</a><br />
            <a href="http://penguinairwaysva.netai.net/">Penguin Airways VA</a><br />
            <a href="http://abeljetsgroup.weebly.com/">Abel Jets VA</a><br />
            <a href="https://sites.google.com/site/fastairwaysfa/">Fast Airways VA</a><br />
            <a href="https://sites.google.com/site/natcomair/">NatComAir YS VA</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=140&t=8288">Herven Airlines</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=140&t=8956">Palm Virtual</a></p>

            <p><strong>HQ Fighter Squads</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=157&t=9071">4th Aerial Wing "Scorpions"</a> (<a href="https://sites.google.com/site/ysflight4thaerialwing/">website</a>)<br />
            <a href="http://cvw171.forummotion.com/">CVW-171</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=157&t=5844">Special Armed Response Force</a> (<a href="http://forum-sarf.weebly.com/">website</a>)<br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=157&t=6311">VFA-49 Ghost Hawks</a><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=157&t=9010">North East Air Force</a> (<a href="https://sites.google.com/site/northeastairforce/">website</a>)</p>

            <p><strong>Related YS Sites</strong><br />
            <a href="https://sites.google.com/site/ysdecaff/home">Decaff's YSFlight Website</a><br />
            <a href="http://www.ysflight.ca/">Taskforce58's Hangar</a><br />
            <a href="http://www.turbofanterminal.com/">Turbofan's Terminal</a><br />
            <a href="http://free-kr.t-com.hr/owl/index2.html">Owl's YSFlight</a><br />
            <a href="http://ysflight.googlepages.com/">Luckybeargod's YSFlight</a><br />
            <a href="https://sites.google.com/site/yspmnv/">PMNV Creations</a></p>

            <p><strong>Other YS Communities</strong><br />
            <a href="http://cafe.naver.com/fightingys">YSFlight Korea</a> - 대한민국<br />
            <a href="http://www41.atwiki.jp/ysflight/pages/1.html">YSFlight Japan (2ch)</a> - 日本<br />
            <a href="https://www.facebook.com/groups/397961353594755">YSFlight Indonesia</a><br />
            <a href="https://www.facebook.com/groups/553007608054507/">YSFlight Thailand</a> - ประเทศไทย</p>

            <p><strong>Site Info</strong><br />
            <a href="https://forum.ysfhq.com/viewtopic.php?f=167&t=6071">Site/Forum Rules</a><br />
            <a href="https://forum.ysfhq.com/memberlist.php?mode=team">Site Contacts</a></p>
        </div>
    </div>
    <div class="panel">
        <div class="inner" style="text-align: center;">
            <div id="firstclass">
                <h4>Become a <a href="https://forum.ysfhq.com/viewtopic.php?f=167&amp;t=8039&amp;p=90656#p90656" target="_blank">YSFHQ First Class</a> Member!</h4>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="KKV6XBRD4APH8">
                    <table>
                        <tr>
                            <td><input type="hidden" name="on0" value="Subscription type">Subscription type</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="os0" style="width: 100%; word-wrap: normal;">
                                    <option value="First Class Monthly">First Class Monthly : $4.00 USD - monthly</option>
                                    <option value="First Class 1-Yr">First Class 1-Yr : $40.00 USD - yearly</option>
                                    <option value="Business Class Monthly">Business Class Monthly : $2.00 USD - monthly</option>
                                    <option value="Business Class 1-Yr">Business Class 1-Yr : $22.50 USD - yearly</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="hidden" name="on1" value="YSFHQ Username">YSFHQ Username</td>
                        </tr>
                        <tr>
                            <td><input type="text" name="os1" maxlength="200"></td>
                        </tr>
                    </table>
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <br>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/discord-widget/1.0/discord-widget.min.js"></script>
            <script type="text/javascript">
            discordWidget.init({
              serverId: '199291260417081344',
              title: 'YSFHQ Discord',
              join: true,
              alphabetical: false,
              theme: 'dark',
              hideChannels: [],
              showAllUsers: true,
              allUsersDefaultState: true,
              showNick: false
            });
            discordWidget.render();
            </script>
            <div class="discord-widget"></div>
        </div>
    </div>
</div>
