/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			YSFHQ (YSFlight Headquarters)
	Based on style: prosilver
	Original author:	YSFlight Headquarters ( http://ysfhq.com/ )
    --------------------------------------------------------------
*/

@import url("../../prosilver/theme/normalize.css");
@import url("../../prosilver/theme/base.css");
@import url("../../prosilver/theme/utilities.css");
@import url("../../prosilver/theme/common.css");
@import url("../../prosilver/theme/links.css");
@import url("../../prosilver/theme/content.css");
@import url("../../prosilver/theme/buttons.css");
@import url("../../prosilver/theme/cp.css");
@import url("../../prosilver/theme/forms.css");
@import url("../../prosilver/theme/icons.css");
@import url("../../prosilver/theme/colours.css");
@import url("../../prosilver/theme/responsive.css");

body {
    background: url(/images/background.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#site-description {
    visibility: hidden;
}

.headerbar {
    position: relative;
    background-repeat: no-repeat;
    color:#FFFFFF;
    height: 90px;
    background-position: left -2px;
    background-image: url("./images/ysfhq_logo.gif"), #0077b1; /* Old browsers */
    background-image: url("./images/ysfhq_logo.gif"), -moz-linear-gradient(top,  #0077b1 0%, #027eba 20%, #0683c3 29%, #0990d2 51%, #0d94d8 56%, #0b94d8 58%, #119ee5 76%, #13a3ec 93%, #13a3ec 100%); /* FF3.6-15 */
    background-image: url("./images/ysfhq_logo.gif"), -webkit-linear-gradient(top,  #0077b1 0%,#027eba 20%,#0683c3 29%,#0990d2 51%,#0d94d8 56%,#0b94d8 58%,#119ee5 76%,#13a3ec 93%,#13a3ec 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: url("./images/ysfhq_logo.gif"), linear-gradient(to bottom,  #0077b1 0%,#027eba 20%,#0683c3 29%,#0990d2 51%,#0d94d8 56%,#0b94d8 58%,#119ee5 76%,#13a3ec 93%,#13a3ec 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.headerbar a#header-link {
    display: block;
    position: absolute;
    width: calc(100% - 250px);
    height: 100%;
    left: 0;
    top: 0;
}

@media screen and (max-width: 700px) {
    .headerbar a#header-link {
        width: 100%;
    }
}

#sidebar .panel {
    padding: 10px;
}

#recent_topics, #recent_topics + .action-bar, .recent-topics {
    display: none;
}

#sidebar #recent-topics div:first-child {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

#sidebar #recent-topics ul {
    list-style-type: none;
}
#sidebar #recent-topics ul > li {
    padding-bottom: 0.5em;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar #recent-topics a.topictitle {
    display: inline;
}

#sidebar #search-box {
    margin: 10px 0;
    float: none;
}

#sidebar #search-box #keywords {
    width: calc(100% - 60px);
}

#sidebar #serverlist ul {
    list-style-type: none;
    padding-bottom: 1em;
}

@media screen and (min-width: 960px) {
    div#page-body {
        width: 80%;
        float: right;
        clear: right;
    }

    #sidebar {
        width: 18%;
        float: left;
        padding-top: 2em;
    }
}

@media screen and (max-width: 960px) {
    #sidebar {
        display: flex;
    }
    #sidebar .panel {
        flex: 1;
        margin-right: 1em;
    }
    #sidebar .panel:last-child {
        margin-right: 0;
    }
}
@media screen and (max-width: 500px) {
    #sidebar {
        display: block;
    }
    #sidebar .panel {
        margin: 1em;
    }
}
