/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			YSFHQ (YSFlight Headquarters)
	Based on style: prosilver
	Original author:	YSFlight Headquarters ( http://ysfhq.com/ )
    --------------------------------------------------------------
*/

/*
@import url("common.css");
@import url("links.css");
@import url("content.css");
@import url("buttons.css");
@import url("cp.css");
@import url("forms.css");
@import url("colours.css");
@import url("imageset.css");
*/

#site-description {
    visibility: hidden;
}

.headerbar {
    background-image: url("./images/bg_header_new.png");
    background-size: cover;
    background-position: 50% 50%;
    padding: 20px 5px;
}

